/* Invert the web inspector colors*/
#-webkit-web-inspector {
	-webkit-filter: invert(1);
}

/* Invert back elements that need to be in original color */
#-webkit-web-inspector .toolbar-icon,
#-webkit-web-inspector .popover,
#-webkit-web-inspector .icon,
#-webkit-web-inspector input[type="checkbox"],
#-webkit-web-inspector .value,
#-webkit-web-inspector input[type="radio"],
#-webkit-web-inspector .control-profiling,
#-webkit-web-inspector .resource-image-view,
#-webkit-web-inspector .console-error-level .console-message-text,
#-webkit-web-inspector .console-error-level .section .header .title,
#-webkit-web-inspector .network-close-button,
#-webkit-web-inspector img
{
    -webkit-filter: invert(1);
}

/* Change main  background color and color to prevent harsh black and white */
#-webkit-web-inspector #main {
  background-color: #E9DCDC;
  color: #EEE;
}
